- title @trip_plan.title

.row
  .col-lg-8
    %h1= @trip_plan.title
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th{ colspan: 2 } Emergency Info
      %tbody
        %tr
          %td Who's Going:
          %td= md_line trip_plan.who_is_going
        %tr
          %td Contact(s):
          %td= md_line trip_plan.contacts
        %tr
          %td Start Location:
          %td
            = md_line trip_plan.start_location_description
            - if [trip_plan.start_location_lat, trip_plan.start_location_lon].all?(&:present?)
              %br
              Lat: #{trip_plan.start_location_lat}
              %br
              Lon: #{trip_plan.start_location_lon}
        %tr
          %td Finish Location:
          %td
            = md_line trip_plan.finish_location_description
            - if [trip_plan.finish_location_lat, trip_plan.finish_location_lon].all?(&:present?)
              %br
              %p Lat: #{trip_plan.finish_location_lat}
              %br
              %p Lon: #{trip_plan.finish_location_lon}
        %tr
          %td Planned Route:
          %td= md_line trip_plan.planned_route_url
        %tr
          %td Transportation:
          %td= md_line trip_plan.transportation
        %tr
          %td Expected Departure:
          %td= trip_plan.expected_departure
        %tr
          %td Expected Return:
          %td= trip_plan.expected_return
        %tr
          %td Freak Out Time:
          %td= md_line trip_plan.freak_out_time
        %tr
          %td Communications:
          %td= md_line trip_plan.communications
        %tr
          %td inReach Map:
          %td
            - if trip_plan.inreach_map.present?
              = md_line trip_plan.inreach_map
            - else
              —omitted—
        %tr
          %td Local Contact:
          %td= md_line trip_plan.local_contact
        %tr
          %td Managing Agency:
          %td= md_line trip_plan.managing_agency
        %tr
          %td{ colspan: 2 }

      - if trip_plan.big_picture_planning.present?
        %thead
          %tr
            %th{ colspan: 2 } Big Picture Planning
        %tbody
          %tr
            %td{ colspan: 2 }= md trip_plan.big_picture_planning
          %tr
            %td{ colspan: 2 }

      - trip_plan.trip_days.order(:date).each.with_index do |trip_day, index|
        = render partial: 'trip_days/trip_day', locals: { trip_day: trip_day, index: index }

      %tbody
        %tr
          %td{ colspan: 2 }
            = link_to new_trip_plan_trip_day_path(trip_plan), class: 'btn btn-info' do
              %i.fa.fa-fw.fa-plus
              Add one more day to the itinerary
