%h1
  Your trip plans
  = link_to new_trip_plan_path, class: 'btn btn-info' do
    %i.fa.fa-file
    Create

%hr

- if @trip_plans.present?
  - @trip_plans.each do |trip_plan|
    %p
      = link_to trip_plan.title, trip_plan_path(trip_plan)
      (#{trip_plan.published? ? 'published, ' : ''}updated #{distance_of_time_in_words_to_now(trip_plan.updated_at)} ago)
- else
  %p You have no trip plans. #{link_to 'Create one today', new_trip_plan_path}!
