= link_to '← Trip Plans', trip_plans_path

%h1
  = @trip_plan.title
  .btn-group{ role: 'group' }
    = link_to edit_trip_plan_path(@trip_plan), class: 'btn btn-info' do
      %i.fa.fa-pencil-square-o
      Edit
    - if @trip_plan.published?
      = link_to '#', class: 'btn btn-warning', data: { toggle: 'modal', target: '#modal-share' } do
        %i.fa.fa-share-square-o
        Share

= render partial: 'trip_plan', locals: { trip_plan: @trip_plan }

#modal-share.modal.fade{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'myModalLabel' } }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal', aria: { label: 'Close' } } }
          %span{ aria: { hidden: 'true' } } &times;
        %h4.modal-title Share #{@trip_plan.title}
      .modal-body
        %p Share this link:
        %form
          .form-group
            %input{ class: 'form-control', value: published_trip_plan_url(id: @trip_plan.alternate_id) }
      .modal-footer
        %button.btn.btn-warning{ type: 'button', data: { dismiss: 'modal' } } Thanks!
