!!! 5
%html
  %head
    %title Itinere
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'bootstrap.min', media: 'all'
    = javascript_include_tag 'application'
    %script{ src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity: 'sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin: 'anonymous' }
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          = link_to 'Itinere', root_path, class: 'navbar-brand'
          %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: "#navbar-main" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse
          - if signed_in?
            %ul.nav.navbar-nav
              %li= link_to 'Trip plans', trip_plans_path
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Sign In', new_user_session_path
              %li= link_to 'Sign Up', new_user_registration_path
    .container
      = flash_messages
      = yield
