!!! 5
%html
  %head
    %title Itinere#{content_for?(:title) ? ' • ' + content_for(:title) : '' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          = link_to 'Itinere', root_path, class: 'navbar-brand'
          %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: "#navbar-main" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = link_to trip_plans_path do
                %i.fa.fa-car
                Trip Plans
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  Sign Out
            - else
              %li
                = link_to new_user_session_path do
                  %i.fa.fa-sign-in
                  Sign In
              %li= link_to 'Sign Up', new_user_registration_path
    .container
      = flash_messages
      = yield

    = content_for(:footer_js)
